  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #C9ABC3;
  }  
  
  nav{
    background-color: #C4A3BD;
    transition: all 2s;
    padding: 5px;
    width: 100%;
    height: 8%;
    opacity: 70%;
  }

  #list {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
  }

  nav > ul > li {
    list-style-type: none;
    color: #806187;
    margin: 0 0.3rem;
    padding: 0.5rem;
    display: block;
  }

  nav > ul > li:hover {
    background-color: #806187;
    color: #C4A3BD;
    cursor: pointer;
  }

  li > a {
    color: inherit;
    text-decoration: none;
    font-size:25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
      box-sizing:inherit;
    }
  }

@media screen and (max-width: 600px) {
    nav {
        width: 25%;
        height: 100%;
    }
    #list {
        flex-direction: column;
        padding-left: 0px;
  }
}